<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>VT&TR</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
</head>
<body>
    <div class="navbar-fixed">
   <nav class="indigo darken-4" role="navigation">
    <div class="nav-wrapper container">  
      <a id="logo-container" text-align="" href="#" class="brand-logo">VT&TR</a>    
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('index')}}">Summarization</a></li>
         <li><a href="{{url_for('compare_summary')}}">Compare Extractive Summarizers</a></li>
          <li><a href="{{url_for('compare_summary_abs')}}">Compare Abstractive Summarizers</a></li>
         <li><a href="{{url_for('text_generator')}}">Video-to-Text</a></li>
          <li><a href="{{url_for('audio_text_generator')}}">Audio-to-Text</a></li>
         <li><a href="{{url_for('aboutapp')}}">About</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
     
    <!--Slider -->
 <section class="section section-solutions-about  purple darken-1 slider">
  <div id="index-banner" class="parallax-container">
     <ul class="slides">
      <li>
        <img src="{{url_for('static', filename='newbg.jpg')}}" align="middle" />
        <div class="caption center-align">
          <h2>Video to Text Generation</h2>
          <h5> Video Transcription and its Summarization</h5>
           <div class="row center">
          <a href="{{url_for('text_generator')}}" id="download-button" class="btn btn-large waves-effect waves-purple indigo darken-4">Refresh</a>
        </div>
        </div>
      </li>
      <li>
        <img src="{{url_for('static', filename='newbg.jpg')}}" align="middle" />
        <div class="caption left-align">
          <h2>NLP based Application</h2>
          <h5>Performing Extractive and Abstractive Approaches on the Video Text</h5>
          <a href="#aboutapp" class="btn btn-large waves-effect waves-purple indigo darken-4">Learn More</a>
        </div>
      </li>
    </ul>
  </div>
</section>
    <!--End of Slider -->
    
    <div class="row">
        <div class="input-field col s15 m8">
          <div class="icon-block">
           <h2 class="center brown-text" style="position: relative; left:25%;"><i class="small material-icons">file_upload</i></h2>
            <h3 style="position: relative; left:40%;"  size="40px" > Browse for a Video File from Local Storage </h3><br>      
    <form action= "/generation" method= "post" enctype="multipart/form-data" >  
        <input type="file" name="file" style="position: relative; left:70%;" accept="video/*" /> <br><br> 
        <button type="submit" value="Upload" style="position: relative; left:70%;" class="btn btn-small waves-effect waves-purple indigo darken-4">Submit</button> 
        <button class="btn btn-small waves-effect waves-yellow purple darken-1" style="position: relative; left:70%;"  type="reset">Clear</button>
    </form>  
 </div>
  </div>
</div>

<div class="row">
        <div class="input-field col s15 m8">
          <div class="icon-block">
            <h2 class="center brown-text" style="position: relative; left:25%;"><i class="small material-icons">youtube_searched_for</i></h2>
            <h3 style="position: relative; left:50%;" size="50px" > URL for a Youtube Video </h3>           
          <form action= "/youtube_url" method= "post" enctype="multipart/form-data" >  
       <input type="text" style="position: relative; left:25%;" name="raw_url" placeholder="Enter URL Here" required="true">
        <button type="submit" value="Upload" style="position: relative; left:70%;" class="btn btn-small waves-effect waves-purple indigo darken-4"" >Submit</button>   
         <button class="btn btn-small waves-effect waves-yellow purple darken-1" style="position: relative; left:70%;"  type="reset">Clear</button>
         </form>
          </div>
        </div>

      </div>

<!-- Result Display-->
   <section class="section section-solutions-about grey darken-2">
 <div class="container white-text">
   <div class="col s15 m8 grey darken-3">
          <div class="icon-block">
            <h2 class="center white-text" style="text-align:center"><i class="small material-icons">videocam</i></h2>
            <h5 class="center">Generated Text from Video File </h5>
            <p>Reading Time: <span style="color:#ffffff;">{{ final_reading_time }} mins </span></p>
            <p class="light"> PLEASE BE PATIENT AS THE VIDEO IS PROCESSING...</p>
            <p class="light" align="justify" >{{rawtext}}</p>   
        </div>
          </div>
        </div>
  </div>
</section>

<div class="row">
        <div class="input-field col s15 m8">
          <div class="icon-block">
           <h2 class="center brown-text" style="position: relative; left:25%;"><i class="small material-icons">chrome_reader_mode</i></h2>
         <h3 style="position: relative; left:40%;" size=25px> Summarization of the Generated Video Text </h3><br>
         <form method="POST" action="/">
        <button style="position: relative; left:50%;" class="btn btn-small waves-effect waves-purple indigo darken-4" formaction="/summarizedataspacy" type="submit">SpaCy</button>
        <button style="position: relative; left:50%;" class="btn btn-small waves-effect waves-purple indigo darken-4" formaction="/summarizedatanltk" type="submit">NLTK</button>
        <button style="position: relative; left:50%;" class="btn btn-small waves-effect waves-purple indigo darken-4" formaction="/summarizedatagensim" type="submit">Gensim</button>
        <button style="position: relative; left:50%;" class="btn btn-small waves-effect waves-purple indigo darken-4" formaction="/summarizedata" type="submit">TFIDF Summarizer</button>
         <button style="position: relative; left:50%;" class="btn btn-small waves-effect waves-purple indigo darken-4" formaction="/summarizedatatextrank" type="submit">TextRank</button>
         <br><br>
         <button style="position: relative; left:50%;" class="btn btn-small waves-effect waves-yellow purple darken-1" formaction="/summarizedatat5" type="submit">T5</button>
         <button style="position: relative; left:50%;" class="btn btn-small waves-effect waves-yellow purple darken-1" formaction="/summarizedatagpt" type="submit">GPT Model</button>
         <button style="position: relative; left:50%;" class="btn btn-small waves-effect waves-yellow purple darken-1" formaction="/summarizedataauto" type="submit">DistalBART</button>
         <button style="position: relative; left:50%;" class="btn btn-small waves-effect waves-yellow purple darken-1" formaction="/summarizedatabart" type="submit">BART</button>
         <button style="position: relative; left:50%;" class="btn btn-small waves-effect waves-yellow purple darken-1" formaction="/summarizedata_abs" type="submit">Transformer Pipeline</button>
      </form>
    </div>
  </div>
</div>

    <footer class="page-footer grey darken-4">
    <div class="container" id="aboutapp">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About this Application</h5>
          <p class="grey-text text-lighten-4">This Application is used to convert the video files into text format so that this text can be used
          for summarization and can be better understood.</p> </div>
      </div>
    </div>
    
    <div class="footer-copyright">
      <div class="container">
      <a class="white-text text-lighten-3">MAJOR PROJECT BY:AREENA MAHEK </a><br/>
      <a class="white-text text-lighten-3">160620742101</a><br/>
      <a class="white-text text-lighten-3">M.Tech CSE </a><br/>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>